@model KaylaBugTracker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-header text-center">
                <h2>Manage Account</h2>
            </div>
            <div class="card-body">
				<div class="row">
					<div class="col-8 offset-2">
						<div class="card border-0">
							<div class="card-header bg-success text-center">
								<h2 class="text-white">Change Password</h2>
							</div>
							<div class="card-body">
								@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
								{
									@Html.AntiForgeryToken()

									@Html.ValidationSummary("", new { @class = "text-danger" })
									<div class="form-group">
										<div class="col-8 offset-2">
											<label class="col-md-12 control-label" for="OldPassword"><h3>Current password</h3></label>
											@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group">
										<div class="col-8 offset-2">
											<label class="col-md-12 control-label" for="NewPassword"><h3>New password</h3></label>
											@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group">
										<div class="col-8 offset-2">
											<label class="col-md-12 control-label" for="ConfirmPassword"><h3>Confirm new password</h3></label>
											@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
										</div>
									</div>
									<div class="form-group">
										<div class="col-4 offset-4">
											<input type="submit" value="Change password" class="btn btn-inverse-success btnWide" />
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}