
@{
	ViewBag.Title = "Log in";
	Layout = null;
}

	<style>
		.btnWide {
			width:100%;
			padding-left:5px !important;
			padding-right:5px !important;
		}
	</style>
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Bug Tracking with Kayla</title>
	<link rel="shortcut icon" href="~/Images/favicon-32x32.png" />
	<!-- plugins:css -->
	<link href="~/Content/materialdesignicons.min.css" rel="stylesheet" />
	<link href="~/Content/vendor.bundle.base.css" rel="stylesheet" />
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link href="~/Content/style.css" rel="stylesheet" />
	<link href="~/Content/custom.css" rel="stylesheet" />
	<!-- End layout styles -->
	@*<img src="~/Images/favicon.png" />*@
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth">
				<div class="row flex-grow">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light p-5">
							<div class="row align-items-baseline">
								<div class="col-7 float-left">
									<h3>Hello! let's get started</h3>
									<h6 class="font-weight-light">Select a user to continue.</h6>
								</div>
								<div class="float-right">
									<img src="~/Images/Logo.png" />
								</div>
							</div>
							<hr />
							<section id="loginForm">
								<div class="row">
									<div class="col-12 text-center">
										<h4>Admin Role</h4>
										<h6>Access To Everything.</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoAdminEmail")
											@Html.Hidden("passwordKey", "DemoAdminPassword")
											<div class="mt-3">
												<button type="submit" class="btn btn-inverse-primary btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Annie Edison</button>
											</div>

										}
									</div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<h4>Project Manager Roles</h4>
										<h6>Manages Assigned Projects.</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoPMEmail")
											@Html.Hidden("passwordKey", "DemoPMPassword")
											<div class="mt-3">
												<button type="submit" class="btn btn-inverse-secondary btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Troy Barnes</button>
											</div>

										}
									</div>
									<div class="col-6">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoPM2Email")
											@Html.Hidden("passwordKey", "DemoPMPassword")
											<div class="mt-3">
												<button type="submit" class="btn btn-inverse-secondary btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Abed Nadir</button>
											</div>

										}
									</div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<h4>Developer Roles</h4>
										<h6>Manages Assigned Tickets</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoDevEmail")
											@Html.Hidden("passwordKey", "DemoDevPassword")
											<div class="mt-3">
												<button type="submit" class="btn  btn-inverse-info btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Jeff Winger</button>
											</div>

										}
									</div>
									<div class="col-4">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoDev2Email")
											@Html.Hidden("passwordKey", "DemoDevPassword")
											<div class="mt-3">
												<button type="submit" class="btn btn-inverse-info btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Britta Perry</button>
											</div>

										}
									</div>
									<div class="col-4">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoDev3Email")
											@Html.Hidden("passwordKey", "DemoDevPassword")
											<div class="mt-3">
												<button type="submit" class="btn btn-inverse-info btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Craig Pelton</button>
											</div>

										}
									</div>
								</div>
								<div class="row text-center">
									<div class="col-12 text-center">
										<h4>Submitter Roles</h4>
										<h6>Creates Tickets.</h6>
									</div>
								</div>
								<div class="row">

									<div class="col-4">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoSubEmail")
											@Html.Hidden("passwordKey", "DemoSubPassword")
											<div class="mt-3">
												<button type="submit" class="btn btn-inverse-light btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Pierce Hawthorne</button>
											</div>

										}
									</div>
									<div class="col-4">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoSub2Email")
											@Html.Hidden("passwordKey", "DemoSubPassword")
											<div class="mt-3">
												<button type="submit" class="btn  btn-inverse-light btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Shirley Bennett</button>
											</div>

										}
									</div>
									<div class="col-4">
										@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
										{
											@Html.AntiForgeryToken()
											@Html.Hidden("emailKey", "DemoSub3Email")
											@Html.Hidden("passwordKey", "DemoSubPassword")
											<div class="mt-3">
												<button type="submit" class="btn  btn-inverse-light btnWide btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Ben Chang</button>
											</div>

										}
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="~/Scripts/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="~/Scripts/off-canvas.js"></script>
	<script src="~/Scripts/hoverable-collapse.js"></script>
	<script src="~/Scripts/misc.js"></script>
	<script src="~/Scripts/settings.js"></script>
	<script src="~/Scripts/todolist.js"></script>
	<!-- endinject -->
</body>
</html>
