@model IEnumerable<KaylaBugTracker.Models.ApplicationUser>
@{
	ViewBag.Title = "Index";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />


<div class="main-panel">
	<div class="content-wrapper">
		<div class="page-header">
			<h2>Index</h2>
		</div>
		<div class="card">

			<div class="card-body">
				<div class="table-responsive">
					<table id="myTable" class="table table-hover table-striped table-borderless">
						<thead>
							<tr>
								<th>
									@Html.DisplayName("Full Name")
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Email)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var user in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => user.FullName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => user.Email)
									</td>
									<td>
										@Html.ActionLink("Manage Role", "ManageUserRoles", new { id = user.Id }) |
										@Html.ActionLink("Manage Projects", "ManageProjectUsers", "Assignments", new { id = user.Id }, null)
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/Scripts/jquery-3.5.1.min.js"></script>

	<script src="~/Scripts/datatables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable();
			$('#myTable2').DataTable();
			$('#myTable3').DataTable();
		});
	</script>

}